#nav{
    height: 90px;
    min-width: 100vw;

    background: #0f0f0f;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 30px;
    padding-bottom:20px ;

    position: fixed;
    z-index: 99;
}

#nav #nav-p1{
    /* width: 25%; */
    height: 100%;
     display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 15px;

    /* background: #000; */
}


#nav #nav-p2{
    /* width: 25%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap:20px
}


#nav #nav-p2 #user{
    height: 100%;
    width: 30px;
    
    
    border-radius: 20px;
    overflow: hidden;
}


#nav #nav-p2 #user img{
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
    position: relative;
}