#searchbar{
    width: 50%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
#searchbar input{
    height: 60%;
    width: 86%;
    background: transparent;

  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius:0 ;

  padding:10px 25px;
  outline: none;
  color: rgba(255, 255, 255, 0.856);
}


#searchbar input:focus{
   
    /* outline: 1px solid rgba(56, 56, 245, 0.596); */
}

#searchbar a{
    height: 60%;
    width: 60px;
}
#searchbar svg{
    height: 100%;
    width:100%;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding:7px;
    margin: 1px;
    background: #222222;
}