@font-face {
    font-family: giroy;
    src: url(../public/font/Gilroy-Regular.ttf);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    
}

*::-webkit-scrollbar{
    display: none;
}

svg  {
    color: #f1f1f1;
}


html,body{
    width:100%;
    height: 100%;
    background: #0F0F0F;
    /* padding: 0 10px; */
    /* overflow-x: hidden; */
}

a{
    text-decoration: none;
    color: black;
}
